.main-container {
  /* width: 375px; */
  width: 100%;
}
.container {
  color: var(--white);
  background-color: var(--black);
  height: 300px;
  padding: 72px 28px 72px 29px;
}

.header {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 3.333px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
}
.feature-card {
  /* width: 375px; */
  width: 100%;
  background-color: var(--white);
  color: var(--black);
  padding: 64px 32px 91px 33px;
  text-align: center;
}
.feature-icon {
  margin-bottom: 48px;
}
.feature-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 16px;
}
.feature-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
}
@media (min-width: 768px) {
  .main-container {
    display: flex;
    height: 650px;
  }
  .container {
    order: 1;
    height: 100%;
    padding: 240px 54px;
  }
  .feature-img {
    order: 2;
    height: 100%;
  }
  .header {
    font-size: 40px;
    margin-bottom: 21px;
  }
  .feature-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 112px 39px;
    grid-column-gap: 11px;
    grid-row-gap: 72px;
  }
  .feature-card {
    padding: 0;
  }
}
