.main-card {
  position: relative;
  /* width: 375px; */
  width: 100%;
}
.img {
  width: 100%;
  display: block;
}
.main-card::after {
  content: "";
  position: absolute;
  background: var(--gradient-White-Black);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.content {
  position: absolute;
  bottom: 64px;
  left: 33px;
  right: 32px;
  z-index: 3;
  color: var(--white);
}
.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 3.333px;
  text-transform: uppercase;
  margin-bottom: 24px;
  margin-top: 63px;
}
.link-container {
  display: flex;
  gap: 16px;
}
.link {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}
.multi-color-border {
  background: var(--gradient-multi-color);
  width: 128px;
  height: 6px;
}
