.main-container {
  background: var(--black);
}
.main-container img {
  display: block;
}
.container {
  /* width: 375px; */
  width: 100%;
  height: 300px;
  color: var(--white);
  padding: 0 28px 72px 29px;
}
.border {
  width: 128px;
  height: 6px;
  background: var(--gradient-multi-color);
}
.header {
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 3.333px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-top: 72px;
}
.text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
}
.month-year-active {
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.month-year {
  opacity: 0.5;
  color: var(--black);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}
.price-feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.toggle-month-year {
  display: flex;
  gap: 32px;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 40px;
}
.button-container {
  display: flex;
  width: 64px;
  height: 32px;
  background-color: var(--gray);
  border-radius: 16px;
  padding: 4px;
  transition: all 0.3s ease;
}
.btn {
  display: flex;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: var(--black);
  cursor: pointer;
  border: none;
}

.price-container {
  width: 318px;
  height: 407px;
  background-color: var(--milk-white);
  text-align: center;
  color: var(--black);
  margin-bottom: 24px;
}
.text-content-container {
  padding: 56px 34px 40px 32px;
}
.price-container-black {
  background-color: var(--black);
  color: var(--white);
}
.border-top {
  width: 318px;
  height: 6px;
  background: var(--gradient-multi-color);
}
.title {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 18px;
}
.price-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-bottom: 40px;
}
.price {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 4.167px;
  text-transform: uppercase;
}
.month {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  opacity: 0.6;
  margin-bottom: 40px;
}
.price-btn {
  width: 100%;
  height: 40px;
  background-color: var(--black);
  border: none;
  color: var(--white);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
}

.price-btn-black {
  background-color: var(--white);
  color: var(--black);
}
.price-features-option {
  /* width: 375px; */
  width: 100%;
  padding: 40px 28px 64.5px 29px;
  color: var(--black);
}
.feature {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 23px;
}
.feature-border {
  width: 100%;
  height: 1px;
  background: var(--black);
}
.features-option {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.options {
  display: flex;
  flex-direction: column;
}
.feature-title {
  margin-top: 23.5px;
  margin-bottom: 16px;
  color: var(--black);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
.vector {
  width: 16px;
  height: 12px;
}
.option {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1.667px;
  margin-bottom: 8px;
  opacity: 0.5;
}
.border-bottom {
  width: 318px;
  height: 1px;
  background: var(--gray);
  margin-top: 24px;
}
@media (min-width: 768px) {
  .container {
    position: relative;
    height: 100%;
  }
  .border {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 100%;
  }
  .main-container {
    display: flex;
    height: 490px;
  }
  .price-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .price-container {
    width: 689px;
    height: 270px;
    padding: 40px 48px 40px 40px;
    position: relative;
  }
  .border-top {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 6px;
    height: 100%;
  }
  .main-container img {
    order: 2;
  }
  .text-content-container {
    padding: 0;
    text-align: start;
  }
  .price-box2 {
    text-align: end;
  }
  .price-text {
    margin-bottom: 32px;
  }
  .container {
    order: 1;
    padding: 173px 54px;
  }
  .table-container {
    display: flex;
    align-items: center;
    gap: 104px;
    padding: 0 62px 0 24px;
  }
  .feature-table {
    color: var(--black);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 4.167px;
    text-transform: uppercase;
    margin-bottom: 64px;
  }
  .features-option {
    gap: 127px;
  }
  .feature {
    margin-left: 24px;
  }
  .feature-header {
    display: flex;
    gap: 222px;
  }
  .header-option {
    display: flex;
    gap: 98px;
    color: var(--black);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2px;
  }
  .feature-title {
    width: 100%;
  }
  .border-bottom {
    width: 100%;
  }
}
